/*------------------------------------*\
  #CASE-STUDY COMPONENTS
\*------------------------------------*/

.cs-hero-category-vertical {
  position: absolute;
  transform: rotate(-90deg);
  top: 43px;
  left: -85px;
}

.cs-quote::before {
  position: absolute;
  font-size: 15rem;
  font-family: "stanley";
  content: '"';
  top: 0;
  left: 0;
}

@layer components {
  .cs-h2 {
    @apply mx-auto font-display text-4xl xl:text-6xl 2xl:text-7xl;
  }
  .cs-h3 {
    @apply font-display text-2xl font-bold xl:text-4xl xl:font-normal mt-12 2xl:mt-20;
  }
  .cs-hero--center-container {
    @apply col-span-full md:col-start-2 md:col-span-15 2xl:col-start-2 2xl:col-span-15 max:col-start-2 max:col-span-14;
  }
  .cs-hero--center-title {
    @apply inline-block font-display text-4xl leading-tight mt-4 xs:text-5xl sm:text-6xl md:block md:mt-0 md:text-6xl md:mr-auto md:ml-auto md:text-center 2xl:text-7xl;
  }
  .cs-hero--center-category_mobile {
    @apply font-display text-2xl font-bold inline-block md:hidden;
  }
  .cs-hero--center-category_desktop {
    @apply hidden md:inline-block cs-hero-category-vertical font-display text-2xl;
  }
  .cs-hero--center-image-container {
    @apply inline-block relative mt-3 w-full md:mt-2 lg:mt-4 2xl:mt-12;
  }
  .cs-hero--center-image-caption {
    @apply mt-3 font-accent leading-tight relative inline-block lg:pl-0 2xl:mt-4;
  }
  .cs-hero-offset-container {
    @apply p-3 pt-36 
        sm:p-8 sm:pt-36
        lg:pr-0 lg:pl-6
        2xl:pl-16 2xl:pt-24;
  }
  .cs-hero-offset-category {
    @apply font-display text-2xl font-bold inline-block 
        md:ml-1/3 md:pl-8 
        lg:pl-0 lg:ml-1/6
        xl:text-3xl xl:ml-1/4;
  }
  .cs-hero-offset-inner-container {
    @apply md:flex md:justify-between lg:flex-col lg:items-end;
  }
  .cs-hero-offset-title {
    @apply font-display font-bold inline-block text-4xl leading-tight mt-4 xs:text-5xl 
        sm:text-6xl 
        md:mt-0 md:text-4xl md:self-end md:w-1/3 
        lg:w-1/2 lg:text-6xl lg:self-start lg:ml-1/6
        xl:ml-1/4
        2xl:text-7xl;
  }
  .cs-hero-offset-image {
    @apply inline-block mt-3 
          md:pl-8 md:w-2/3 md:mt-0 
          lg:w-5/6 lg:pl-0 lg:mt-8
          xl:mt-4 xl:w-3/4;
  }
  .cs-hero-offset-caption {
    @apply mt-3 font-accent leading-tight relative inline-block 
          md:ml-1/3 md:pl-8 md:justify-self-end 
          lg:pl-0 lg:ml-1/6 
          xl:ml-1/4;
  }
  .cs-inner-container {
    @apply p-3 
          sm:p-8 
          2xl:flex 2xl:flex-row-reverse 2xl:justify-end;
  }
  .cs-grid {
    @apply p-4 sm:p-8 md:p-6 lg:p-8 2xl:p-0 grid grid-cols-16 gap-2 md:gap-6 2xl:gap-8 max-w-screen-max mx-auto;
  }
  .cs-aside {
    @apply mt-8 
         md:w-1/3 md:float-left 
         lg:float-right lg:w-1/4 
         2xl:w-1/4 2xl:px-8;
  }
  .cs-aside--grid {
    @apply mt-8 order-1 col-span-full md:col-span-5 lg:order-2  lg:col-span-5 lg:col-start-12 xl:col-span-4 xl:col-start-13 xl:mt-28 2xl:mt-20 2xl:col-start-13 2xl:col-span-3;
  }
  .cs-sidebar-first {
    @apply font-accent border mt-8 border-grey2 p-5;
  }
  .cs-sidebar-next {
    @apply font-accent border border-t-0 border-grey2 p-5;
  }
  .cs-article-header {
    @apply col-span-full md:col-start-6 md:col-span-11 lg:col-span-9 lg:col-start-3 xl:col-span-8 xl:col-start-5 2xl:col-span-6 2xl:col-start-6;
  }
  .cs-article--end-divider {
    @apply article-accent-line--end block text-center mx-auto mt-40 mb-20 col-span-full;
  }
  .cs-section--default-region {
    @apply col-span-full md:col-start-6 md:col-span-11 lg:col-span-9 lg:col-start-3 xl:col-span-8 xl:col-start-5 2xl:col-span-6 2xl:col-start-6;
  }
  .cs-section-offset-right-region {
    @apply col-span-full md:col-start-6 md:col-span-11 lg:col-span-11 lg:col-start-3 xl:col-span-10 xl:col-start-5 2xl:col-start-6 2xl:col-span-9 flex flex-col lg:flex-row gap-x-4;
  }
  .cs-offset-main-content-container {
    @apply mt-8 mb-24 
          md:w-2/3 md:float-right md:pl-8 
          lg:pl-0 lg:pr-8 lg:w-7/12 
          xl:ml-1/4 xl:w-1/2
          2xl:w-1/2 2xl:ml-1/4 2xl:pr-8 2xl:pl-8;
  }
  .cs-main-content {
    @apply font-display leading-relaxed text-lg;
  }
  .cs-paragraph {
    @apply mt-2 xs:mt-3 md:mt-6 lg:mt-5 2xl:mt-7 max:mt-10 text-lg leading-relaxed font-base;
  }
  .cs-paragraph--sans {
    @apply mt-4 xs:mt-6 md:mt-6 lg:mt-5 text-base 2xl:mt-4 max:mt-10 font-base leading-relaxed;
  }
  .cs-paragraph-first {
    @apply max:mt-5;
  }
  .cs-topic {
    @apply font-accent font-bold uppercase text-base mt-8 relative inline-block pr-2
          xs:mt-10 
          lg:mt-10 
          xl:mt-14 
          2xl:mt-16;
  }
  .cs-figure {
    @apply flex flex-col mt-8 mb-6
          xs:mb-3
          lg:mt-10 lg:mb-6
          2xl:mt-16 2xl:mb-16;
  }
  .cs-figure-caption {
    @apply font-accent text-sm mt-4;
  }
  .cs-ul {
    @apply list-inside list-disc mt-3 font-base leading-relaxed;
  }
  .cs-li-first {
    @apply mt-4 xs:mt-6 lg:mt-8;
  }
  .cs-li {
    @apply mt-2 xs:mt-3 lg:mt-3;
  }
  .cs-hero-split-container {
    @apply p-3 pt-36 
          sm:p-8 sm:pt-36
          md:pr-0 md:pl-4
          lg:pr-0 lg:pl-5
          2xl:pl-16 2xl:pt-24;
  }
  .cs-hero-split-inner-container {
    @apply md:flex md:justify-between;
  }
  .cs-hero-split-category {
    @apply font-display text-2xl font-bold inline-block 
          md:ml-1/3 md:pl-8 
          lg:pl-0 lg:ml-1/4
          xl:text-3xl;
  }
  .cs-hero-split-title {
    @apply font-display inline-block text-4xl leading-tight mt-4 
          xs:text-5xl 
          sm:text-6xl 
          md:mt-0 md:text-4xl md:self-end md:w-1/3 md:pl-4
          lg:w-1/4;
  }
  .cs-hero-split-image {
    @apply inline-block mt-3 
          md:pl-8 md:w-2/3 md:mt-2
          lg:w-3/4 lg:pl-0 lg:mt-4
          2xl:mt-6;
  }
  .cs-hero-split-caption {
    @apply mt-3 font-accent leading-tight relative inline-block 
          md:ml-1/3 md:pl-8 md:justify-self-end 
          lg:pl-0 lg:ml-1/4 
          xl:ml-1/4;
  }
  .cs-split-main-content-container {
    @apply mt-8 mb-24 
          md:w-2/3 md:float-right md:pl-8 
          lg:pl-0 lg:pr-8 lg:w-1/2 
          xl:ml-1/4 xl:w-1/2
          2xl:w-1/2 2xl:ml-1/4 2xl:pr-8 2xl:pl-8;
  }
}
